services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "0.0.0.0:8000:8000"
    volumes:
      - ./token.json:/app/token.json:ro
    restart: unless-stopped

networks:
  default:
    driver: bridge
